<%= javascript_pack_tag 'index' %>

<div class="posts-index-wrapper" id="favorite">
  <% @posts.each do |post| %>
  <div class="container">
    <div class="row">
      <div class="col-md-offset-2 col-md-8">
        
        <div class="post-parts">
        <h2 class="user-name"><%= link_to post.user.name, post.user, id: post.user.id, class:"text" %></h2>
        <% post.pictures.each do |picture| %>
        <%= image_tag picture.image.url if picture.image? %>
        <%= video_tag picture.video.url, width: "90%", height: "90%", 
                  controls: true, autobuffer: true if picture.video? %>
        <% end %>
        <p><%= link_to simple_format(post.text), post, id: post.id, class:"text" %></p>
        <ul class="public">
          <li><%= link_to comments_path(post_id: post.id), class:"none" do %>
            <%= image_tag "comment.png", class:"icon" %>
            <% end %>
            <%= post.comment_users.count %>
            </li>
            <li><favorite-btn :user-id='<%= current_user.id %>' :post-id='<%= post.id %>'></favorite-btn></li>
        </ul>
       <% if logged_in? && post.user_id == current_user.id %>
       <ul class="user-only">
         <li><%= link_to "編集", edit_post_path(post.id), class:"btn" %></li>
         <li><%= link_to "削除", post_path(post.id), class:"btn", method: :delete %></li>
       </ul>
       <% end %>
        </div>
      </div>
    </div>
  </div>
   <% end %>
   <div class="paginate-area">
 <p class="paginate"><%= paginate @posts %></p>
 </div>
</div>