<!DOCTYPE html>
<html>
  <head>
    <title>game share</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  
  </head>

  <body>
    <% flash.each do |key, value| %>
  <div class="alert alert-<%= key %>" role="alert"><%= value %><button type="button" class="close" data-dismiss="alert">&times;</button></div>
<% end %>

    <div class="headder">
      <nav class="navbar navbar-default navbar-fixed-top navbar-transparent">
        <%= link_to root_path do %>
      <%= image_tag "logo.png", class:"logo" %>
      <% end %>
      <% if logged_in? %>
      <ul class="nav-item">
        <li><%= link_to "投稿一覧", posts_path %></li>
         <li><%= link_to "いいね一覧", favorites_index_path %></li>
          <li><%= link_to "投稿する", new_post_path %></li>
           <li><%= link_to "サインアウト", logout_path, method: :delete %></li>
      </ul>
      <% else %>
        <ul class="nav-item">
          <li><%= link_to "投稿を見る", posts_path %></li>
          <li><%= link_to "アカウント作成", new_user_path %></li>
          <li><%= link_to "ログイン", login_path %></li>
        </ul>
        <% end %>
      </nav>
    </div>
    <%= yield %>
  </body>
</html>
